@model IEnumerable<Perfumeshop.Models.Perfume>

@{
    ViewData["Title"] = "Brand Perfumes";
}

<h1 align="center">@ViewBag.Brand Perfumes</h1>
 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Add a Perfume</a>
</p>
 }
<div class="container">
    <div class="row">
@foreach(var item in Model){
        <div class="col-4 d-flex justify-content-center my-5">
 <div class="card d-flex flex-wrap text-center text-white bg-dark mb-3" style="width: 18rem;">
  <img class="card-img-top" src="~/pictures/@item.Picture" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
    <span class="card-text">@Html.DisplayFor(modelItem => item.Category)</span><br/>
    <span class="card-text">Brand: <b>@Html.DisplayFor(modelItem => item.Brand.Name)</b></span>
    <a asp-action="Details" asp-route-id="@item.Id" class="d-flex justify-content-center btn btn-outline-light my-1">Details</a>
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            <a asp-controller="Users" asp-action="OrderAPerfume" asp-route-id="@item.Id" class="d-flex justify-content-center btn btn-outline-light">Buy</a>
                        }
  </div>
</div>
</div>
}
</div>
</div>