@model Perfumeshop.ViewModels.BrandsFilterVM

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Brands</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-controller="Brands" asp-action="Index" method="get">
    <p>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brands[0].Name)
            </th>
            <th>
                Perfumes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.brands) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (item.Perfumes != null)
                    {
                            <a asp-controller="Perfumes" asp-action="BrandsPerfumes" asp-route-id="@item.Id">
                                View Perfumes <br>
                        </a>
                    }
                
                else{
                    <span></span>
                }
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
